<ion-view title="Inicial" id="page1" class=" " ng-controller="inicialCtrl">
    <ion-content padding="true" class="has-header">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
        </ion-refresher>
        <form id="inicial-form7" class="list ">
            <div id="inicial-button-bar1" class=" button-bar "></div>
        </form>
        <h1 id="inicial-heading3" style="color:#000000;" class=" "></h1>
        <ion-list id="inicial-list3" class=" ">
            <ion-item class="item  " id="inicial-list-item12">
                <h2>Olá, {{nome}}</h2>
                <p>4 informativos não lidos</p>
            </ion-item>
        </ion-list>
        <div class="list card" >

            <div class="item">
                <h2>{{ resultado.titulo }}</h2>
                <p>{{ resultado.conteudo }}</p>
            </div>
            <div class="item item-image">
                <img src="http://demomarcospenha.host22.com/imagens/{{ resultado.imagem }}">
            </div>

        </div>

        <div>
            <p>Latitude: {{latitude}}</p>
            <p>Longitude: {{longitude}}</p>
        </div>


 <!--   <div ng-repeat="mensagem in resultado track by $index">
            <h3 id="inicial-heading2" style="color:#000000;text-align:center;" class=" ">{{mensagem.titulo}}</h3>
            <div class="">
                <img src="http://demomarcospenha.host22.com/imagens/{{mensagem.imagem}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div> -->
    </ion-content>
</ion-view>