<ion-view title="Inicial" id="page1" class=" " ng-controller="inicialCtrl">
    <ion-content padding="true" class="has-header">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
        </ion-refresher>
        <form id="inicial-form7" class="list ">
            <div id="inicial-button-bar1" class=" button-bar "></div>
        </form>
        <h1 id="inicial-heading3" style="color:#000000;" class=" "></h1>
        <ion-list id="inicial-list3" class=" ">
            <ion-item class="item-avatar  " id="inicial-list-item12">
                <img src="img/echzo6TSRwOIfN5eaO38_03037671a5d4080f4008b1f0526457ad.jpg">
                <h2>Bom dia, Dayneres</h2>
                <p>4 informativos não lidos</p>
            </ion-item>
        </ion-list>
        <div class="list card" ng-repeat="mensagem in resultado track by $index">

            <div class="item">
                <h2>{{mensagem.titulo}}</h2>
                <p>{{mensagem.conteudo}}</p>
            </div>
            <div class="item item-image">
                <img src="http://demomarcospenha.host22.com/imagens/{{mensagem.imagem}}">
            </div>

        </div>
 <!--   <div ng-repeat="mensagem in resultado track by $index">
            <h3 id="inicial-heading2" style="color:#000000;text-align:center;" class=" ">{{mensagem.titulo}}</h3>
            <div class="">
                <img src="http://demomarcospenha.host22.com/imagens/{{mensagem.imagem}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div> -->
        <div id="inicial-button-bar2" class=" button-bar "></div>
        <div class="item item-body " id="inicial-list-item-container1"></div>
    </ion-content>
</ion-view>