<ion-view title="Login" id="page7" class=" " >
    <ion-content padding="true" class="has-header">
        <form id="login-form10" class="list" ng-submit="login()" method="post" ng-controller="loginCtrl">
            <ion-list id="login-list10" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="" ng-model="cpf">
                </label>
            </ion-list>
            <button type="submit" id="addContact-button1" class="button button-positive  button-block icon-right">Entrar</button>
        </form>
    </ion-content>
</ion-view>