<ion-view title="Login" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form10" class="list ">
            <ion-list id="login-list10" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.inicial" id="login-button5" class=" button button-calm  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>