<ion-view title="Perfil" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="perfil-form3" class="list ">
            <label class="item item-input " id="perfil-textarea4">
                <span class="input-label">{{nome}}</span>
            </label>
            <label class="item item-input " id="perfil-textarea5">
                <span class="input-label">{{cpf}}</span>
            </label>
            <label class="item item-input " id="perfil-textarea6">
                <span class="input-label">{{doenca}}</span>
            </label>
            <label class="item item-input " id="perfil-textarea6">
                <span class="input-label">{{tratamento}}</span>
            </label>
            <label class="item item-input " id="perfil-textarea6">
                <span class="input-label">{{nascimento}}</span>
            </label>
        </form>
    </ion-content>
</ion-view>