<ion-view title="Perfil" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <a style="display:block;" href="mailto:">
                <img src="img/9dQHLH2qQlKQFF0vYBj2_03037671a5d4080f4008b1f0526457ad.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <form id="perfil-form3" class="list ">
            <label class="item item-input " id="perfil-textarea4">
                <span class="input-label">Daenerys Targaryen</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="perfil-textarea5">
                <span class="input-label">19 anos</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="perfil-textarea6">
                <span class="input-label">Pentos</span><textarea placeholder=""></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>