<ion-view title="Verificar Usuário Próximo" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="verificarUsuRioPrXimo-button2" class=" button button-positive  button-block icon ion-android-search ">Verificar Usuários Próximos</button>
        <ion-list id="verificarUsuRioPrXimo-list8" class=" ">
            <ion-checkbox name="João">Bran</ion-checkbox>
            <ion-checkbox>Arya</ion-checkbox>
            <ion-checkbox>Little Finger</ion-checkbox>
        </ion-list>
        <a ui-sref="menu.workspace" id="verificarUsuRioPrXimo-button3" class=" button button-balanced  button-block icon ion-android-add-circle ">Criar Workspace</a>
    </ion-content>
</ion-view>