<ion-view title="Verificar Usuário Próximo" id="page5" class=" " ng-controller="verificarUsuRioPrXimoCtrl">
    <ion-content padding="true" class="has-header">
        <button class="button button-positive  button-block icon ion-android-search " ng-click="buscar_proximo()">Verificar Usuários Próximos</button>
        <ion-list id="verificarUsuRioPrXimo-list8" class=" " ng-repeat="perfil in resultado | startFrom : 1">
            <ion-checkbox value="{{perfil.id}}" name="{{perfil.nome}}" ng-model="checkItems[perfil.id]" ng-change="print()">	{{perfil.nome}}
        	</ion-checkbox>
        </ion-list>
        <button class=" button button-balanced  button-block icon ion-android-add-circle " ng-click="save()">Criar Workspace</button>
    </ion-content>
</ion-view>