<ion-view title="workspace" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="workspace-form8" class="list ">
            <label class="item item-input " id="workspace-textarea7">
                <span class="input-label">Remédio pra Sansa</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="workspace-markdown3" style="color:#555050;font-size:9px;text-align:center;" class=" ">Bran, Arya e Little Finger</p>
        <ion-list id="workspace-list9" class=" ">
            <ion-item class="item-avatar  " id="workspace-list-item13">
                <img src="img/S90Vg4xyTKSWDTQgWaR7_3b97afa0-ba25-0133-8210-0ed2e059c4cf.jpg">
                <h2>Ei galera, kd Sansa?</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="workspace-list-item14">
                <img src="img/e5FrcVG9SxuqxWSyftAq_Promotional_photo_of_Isaac_Hempstead-Wright_as_Bran_Stark_on_Game_of_Thrones.jpeg">
                <h2>Arya, não sei, me viram.</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="workspace-list-item15">
                <img src="img/JxwpmDPfSJ2aWjSkkkPd_little_finger.jpg">
                <h2>Relaxa, ela tá aqui!</h2>
            </ion-item>
            <label class="item item-input " id="workspace-textarea9">
                <span class="input-label">ei......</span><textarea placeholder=""></textarea>
            </label>
        </ion-list>
        <button id="workspace-button4" class=" button button-balanced button-small button-block ">enviar</button>
    </ion-content>
</ion-view>